.mine{
    .mine_nav{
        background-color: #3190e8;
        .rv-nav-bar__title{
            color: #fff;
        }
        .rv-icon{
            color: #fff;
        }
    }
    .mineInfo{
        height: 80px;
        background-color: #3190e8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mineimg{
            img{
                width: 60px;
                border-radius: 50%;
            }
        }
        .mineright{
            color: #fff;
        }
    }
}