.searchInfo{
    .searchInfo_nav{
        background-color: #3190e8;
        .rv-nav-bar__title{
            color: #fff;
        }
        .rv-icon{
            color: #fff;
        }
    }
    .searchInfobtn{
        .rv-button{
            width: 100%;
            margin-top: 10px;
        }
    }
}