.login{
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1f1;
    .rv-nav-bar__content{
        background-color: #3190e8;
        .rv-nav-bar__title{
            color: #fff;
            font-size: 18px;
        }
        .rv-icon{
            color: #fff;
            font-size: 20px;
        }
    }
    .loginuser{
        margin-top: 10px;
        .rv-button{
            width: 90%;
            margin: 10px auto;
            background-color: #07c160;
            border: 1px solid #07c160;
        }
    }
}